// Place all the styles related to the myposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reset

*{
	box-sizing: border-box;
}
body, div, p, em, ul, ol, li, a, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

iframe {
  border: none;
}

/* remove list point mark */
ul,
ol {
  list-style: none;
}
*{
  box-sizing:border-box;
}
/* remove border & off descender */
img {
  border: 0;
  vertical-align: middle;
  width:100%;
}

/* anchor */
a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

/* remove descender */
svg,
input,
select,
textarea,
label {
  vertical-align: middle;
}

/* set collapse */
table {
  border-collapse: collapse;
}

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal;
}

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all;
}

/* [IE8-] New Tag from HTML5 */
main, article, aside, figcaption, figure,
footer, header, nav, section, details, summary {
  display: block;
}

/* for height 100% */
html,
body {
  min-width: 100%;
  min-height: 100%;
}

/* [if it need] remove default form style */
select,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
em {
  margin: 0;
  padding: 0;
  font-style: normal;
}

iframe {
  border: none;
}

input[type="submit"],
input[type="button"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
/////////////////////////////////////


.topBackground{
    background-image: url(/cloud.jpg);
    background-attachment:fixed;
    background-repeat: repeat;
    background-size: auto;
    background-color: aliceblue;
    height: auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
header {
    height: 75px;
    border-bottom: 1px solid whitesmoke;
        padding: 10px;
}
header .pcList li {
    display: inline-block;
    margin: 23px 40px;
    font-weight: bold;
    font-size: 20px;
}

header .pcList li a {
     text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
     color: dodgerblue;
     display:block;
     
}

header li a:hover {
    opacity:0.4;
    border-bottom:2px solid dodgerblue;
}
.spList  {
  display:none;
}

.mainTitle {
    color: #fff;
    font-size: 75px;
    font-weight: bold;
    text-shadow:1px 1px 12px rgba(0, 0, 0, 0.6);
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

footer {
    position: relative;
    height:70px;
    border-top: 1px solid whitesmoke;
}
footer span {
    font-size: 14px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.confirmBlock,.contentBlock{
    min-height: 100vh;
    width: 100%;
    height: auto;
    background:url(/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    text-align: center;
    padding-bottom: 30px;
}
.contentBlock h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.contentBlock input[type="text"] {
    width: 50%;
    height: 200px;
    font-size:100%;
}
.contentBlock input[type="submit"]{
    border-radius: 0;
    -webkit-appearance: none;
    width: 150px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    background:linear-gradient(#FFF, whitesmoke);
    margin:40px 0;
}
.submitBtn a{
    width: 150px;
    height: 50px;
    background: linear-gradient(#FFF, lightgray);
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    color:#000;
}
.contentBlock ul {
    margin:20px auto;
}
.contentBlock  .contentList{
    width: 50%;
    display: inline-block;
    padding: 20px 30px;
    margin:5px 0; 
    border-radius: 20px;
    border: 2px solid lightgray;
    background: #fff;
    font-size: 20px;
}
.contentBlock li {
    display: inline-block;
    color: dodgerblue;
    vertical-align: middle;
    margin-left: 15px;
    border: 2px solid lightgray;
    
}
.contentBlock li .showBtn {
  background:none;
}
.contentBlock .contentList .showBtn:hover {
  background:linear-gradient(#FFF, cornflowerblue);
}
.contentBlock li a {
    color:dodgerblue ;
      display:block;
    padding: 10px 20px;
    background:linear-gradient(#FFF, lightgray);
}
.contentBlock li a :hover {
    opacity: 0.5;
}
.mypostsLink {
    color:#000;
    margin-top:10px;
    display: inline-block;
    font-size: 14px;
}
.inputBox {
    margin-top: 25px;
}
.confirmContent {
    width: 500px;
    height: auto;
    margin: 45px auto 0px;
    font-size: 25px;
    font-weight: bold
}
.confirmBlock h2 {
    padding-top: 20px;
    
}
.confirmBlock input[type="submit"] {
    -webkit-appearance: none;
    width: 200px;
    height: 45px;
    margin-top: 25px;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    border-radius: 20px;
    background:linear-gradient(#FFF, whitesmoke);
}
.content {
  font-size: 20px;
    border-bottom: 3px solid dodgerblue;
    width: 80%;
    margin: 30px auto;
    padding-bottom: 10px;
}
.menuTitle {
  display:none;
}


////////////media screen///////////
@media (max-width: 450px) {
 

  .spList li {
    border-bottom: 1px solid whitesmoke;
    height: 100px;
    text-align: center;
    position: relative;
    line-height: 100px;
  }
  .spList li:first-child{
     border-top: 1px solid whitesmoke;
  }
  .menuTitle{
    position: absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    color:#fff;
    z-index: 3;
  }
  .spList li a {
    color: white;
    font-size: 20px;
    position: absolute;
    display: block;
    right: 0;
    vertical-align: middle;
    left: 0;
  }
  .pcList {
    display:none;
  }
  .inner {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
        z-index: 10;
  }
  .inner span {
    width: 45px;
    height: 2px;
    display: block;
    background: dodgerblue;
    position: absolute;
    left: 0;
    top: 50%;
    transition: width 0.2s, right 0.2s, left 0.2s;
  }
  .top {
    transform: translateY(-17px);
    left: 0px;
    right: 0px;
  }
  .inner .middle {
    transform: translateY(0px);
    position: relative;
    background: none;
  }
  .middle:before, .middle:after {
      content: "";
      transition: all 0.2s;
      display: block;
      position: absolute;
      width: 45px;
      height: 2px;
      left: 0px;
      background: dodgerblue;
      transform: rotate(0deg);
  }
  .bottom {
    transform: translateY(17px);
    left: 0px;
    right: 0px;
  }
  
   .is-open .top {
      left: 100%;
      width: 0px;
    }
      .is-open .middle:before, {
        transform: rotate(135deg);
      }
      .is-open .middle:after {
        transform: rotate(45deg);
      }
    
     .is-open .bottom {
      right: 100%;
      width: 0px;
    }
    
    .modal {
    background: #000;
    opacity: 0.9;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    }
     .spList{
   position: absolute;
    z-index: 3;
    color: white;
    width: 70%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .modalWrapper {
    display: none;
  }
  .mainTitle {
    font-size: 55px;
    width: 80%;
    top: 45%;
    text-align: center;
  }
  footer span {
    width:100%;
    text-align: center;
  }
  .contentBlock .contentList{
    width: 90%;
    margin-top:10px;
    padding: 10px 30px;
    border-radius: 0;
  }
  .menuTitle {
    display:block;
  }
  .contentBlock h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
  }
  .contentBlock input[type="text"] {
    width: 90%;
    height: 100px;
    font-size:100%;
  }
 
}